<div class="main-content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12">
        <button *ngIf="projectTasks" mat-raised-button (click)="onAddTask()"  type="button" class="btn btn-danger pull-left">
          Add Task
        </button>
        <div class="conatiner" style="padding-top:20px;">
          <div class="col-sm-5" style="padding-top:20px;padding-bottom:20px;" >
            <input class="form-control" type="text" placeholder="Search......." [(ngModel)]="filter">
          </div>
        </div>
        <div class="card">
          <div style="background-color: darkblue !important" class="card-header">
            <h4 class="card-title" style="background-color: darkblue !important" style="color:white ">Task </h4>
            <p></p></div>

          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class="text-darkBlue">
                <th>
                  Name
                </th>
                <th>
                  Description
                </th>
                <th>
                  Start Date
                </th>
                <th>
                  End Date
                </th>
                <th>
                  Status
                </th>
                <th>
                  Action
                </th>
                </thead>

                <tbody *ngIf="tasks" >
                <tr *ngFor="let task of tasks">
                  <td>{{ task.name }}</td>
                  <td>{{ task.description }}</td>
                  <td>{{ task.startDate }}</td>
                  <td>{{ task.endDate }}</td>
                  <td>{{ task.status }}</td>
                  <td class="td-actions text-right">
                    <button (click)="onEdit(task)" mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                      <i class="material-icons">edit</i>
                    </button>
                  </td>
                </tr>
                </tbody>

                <tbody *ngIf="projectTasks" >
                <tr *ngFor="let task of projectTasks |filter:filter| paginate: { itemsPerPage: 6, currentPage: p }">
                  <td>{{ task.name }}</td>
                  <td>{{ task.description }}</td>
                  <td>{{ task.startDate }}</td>
                  <td>{{ task.endDate }}</td>
                  <td>{{ task.status }}</td>
                  <td class="td-actions text-right">
                    <button (click)="onEdit(task)" mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                      <i class="material-icons">edit</i>
                    </button>
                    <button (click)="onRemove(task)" mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                      <i class="material-icons">close</i>
                    </button>
                  </td>
                </tr>
                </tbody>


                <tbody *ngIf="teamLeadersTasks" >
                <tr *ngFor="let task of teamLeadersTasks |filter:filter| paginate: { itemsPerPage: 6, currentPage: p }">
                  <td><a style="color: darkblue !important;" routerLink="/tasks/{{task.id}}">{{ task.name }}</a></td>
                  <td>{{ task.description }}</td>
                  <td>{{ task.startDate }}</td>
                  <td>{{ task.endDate }}</td>
                  <td>{{ task.status }}</td>
                  <td class="td-actions text-right">
                    <button (click)="onEdit(task)" mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                      <i class="material-icons">edit</i>
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
              <ul class="pagination">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
