<div class="main-content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12">

        <button mat-raised-button (click)="onAddUser()"  type="button" class="btn btn-danger pull-left">
          Add User
        </button>

            <div class="conatiner" style="padding-top:20px;">
                <div class="col-sm-5" style="padding-top:20px;padding-bottom:20px;" >
                    <input class="form-control" type="text" placeholder="Search......." [(ngModel)]="filter">
                </div>
            </div>
        <div class="card">
          <div style="background-color: darkblue !important" class="card-header">
            <h4 style="color:white" class="card-title ">Users</h4>
            <p></p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class="text-darkBlue">
                <th>
                  First Name
                </th>
                <th>
                  Last Name
                </th>
                <th>
                 Contact
                </th>
                <th>
                  Email
                </th>
                <th>
                  Address
                </th>
                <th>
                  Action
                </th>
                </thead>
                <tbody *ngIf="users">
                <tr *ngFor="let user of users |filter:filter| paginate: { itemsPerPage: 6, currentPage: p }">
                  <td>{{ user.firstName }}</td>
                  <td>{{ user.lastName }}</td>
                  <td>{{ user.contact }}</td>
                  <td>{{ user.email }}</td>
                  <td>{{ user.address }}</td>
                  <td class="td-actions text-right">
                    <button (click)="onEdit(user)" mat-raised-button type="button" matTooltip="Edit User" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                      <i class="material-icons">edit</i>
                    </button>
                    <button (click)="onRemove(user)" mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                      <i class="material-icons">close</i>
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
              <ul class="pagination">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>