<div  ng-app="myApp" class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div style="background-color: darkblue !important" class="card-header">
            <h4 class="card-title" style="color:white ">Project</h4>
            <p></p>
          </div>
          <div class="card-body">
            <form  [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)" novalidate>


              <div class="col-md-12">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Name" type="text"
                         formControlName="name"   [(ngModel)]="name">
                  <mat-error *ngIf="!formGroup.controls['name'].valid && formGroup.controls['name'].touched">
                    Project Name Required
                  </mat-error>
                </mat-form-field>

              </div>
              <div class="col-md-12">
                <mat-form-field class="example-full-width">
                  <textarea  matInput placeholder="Description" type="text"
                         formControlName="projectDescription" [(ngModel)]="projectDescription">
                    </textarea>
                </mat-form-field>
                <mat-error *ngIf="!formGroup.controls['projectDescription'].valid && formGroup.controls['projectDescription'].touched">
                    Project Description is Required
                  </mat-error>
              </div>

              <!--- <div class="col-md-12">
                    <mat-form-field class="example-full-width">
                        <input matInput  placeholder="Start Date" type="date"
                               formControlName="startDate" [(ngModel)]="startDate">

                    </mat-form-field> -->
              <div class="col-md-12">
                <mat-form-field class="example-full-width">
                  <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" placeholder="Start Date"
                         formControlName="startDate" [(ngModel)]="startDate">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                  <mat-error *ngIf="!formGroup.controls['startDate'].valid && formGroup.controls['startDate'].touched">
                    Start Date of Project is Required
                  </mat-error>
                </mat-form-field>

              </div>

              <div class="col-md-12">
                <mat-form-field class="example-full-width">
                  <input matInput [min]="minDate1" [max]="maxDate1" [matDatepicker]="picker1" placeholder="End Date"
                         formControlName="endDate" [(ngModel)]="endDate">
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                  <mat-error *ngIf="!formGroup.controls['endDate'].valid && formGroup.controls['endDate'].touched">
                    End Date of Project is Required
                  </mat-error>
                </mat-form-field>
              </div>

              <div class="col-md-12">
              <mat-form-field>
                <mat-label>Assigned To</mat-label>
                <mat-select formControlName="userId">
                  <mat-option *ngFor="let manager of managers" [value]="manager.userId">
                    {{manager.username}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              </div>

              <div class="col-md-12">
                <mat-form-field class="example-full-width">
                  <mat-label >Status</mat-label>
                  <mat-select formControlName="status" [(ngModel)]="status">
                    <mat-option value="Pending">
                      Pending
                    </mat-option>
                    <mat-option value="Completed">
                      Completed
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="!formGroup.controls['status'].valid && formGroup.controls['status'].touched">
                    Status of Project is Required
                  </mat-error>
                </mat-form-field>
              </div>

              <div>
                <button mat-raised-button (click)="onClose()" class="btn btn-danger pull-right">Cancel</button>
              </div>
              <div *ngIf="!isUpdate">
                <button mat-raised-button type="submit" class="btn btn-danger pull-left" [disabled]="!formGroup.valid" >Add Project</button>
              </div>
              <div *ngIf="isUpdate">
                <button mat-raised-button type="submit" class="btn btn-danger pull-left"  [disabled]="!formGroup.valid">Update Project</button>
              </div>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
