<div class="bg">
<div  ng-app="myApp" class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">

                <br><br><br><br><br>     <br><br><br><br><br><br><br><br>
                <div class="card col-md-6">
                    <br>
<!--                    <div class="card-header">-->
<!--                        <h4 style="background-color: darkblue !important" class="card-title">Login</h4>-->
<!--                    </div>-->
                        <form  [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">



                            <div>
                                <mat-form-field class="example-full-width">
                                    <input  matInput placeholder="Email" type="text"
                                           formControlName="username">
                                </mat-form-field>
                                <mat-error *ngIf="!loginForm.controls['username'].valid && loginForm.controls['username'].touched">
                                    Email required. Must be valid email.
                                </mat-error>

                            </div>
                            <div>
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Password" type="password"
                                           formControlName="password">
                                </mat-form-field>
                                <mat-error *ngIf="!loginForm.controls['password'].valid
                                           && loginForm.controls['password'].touched">
                                    Password required.
                                </mat-error>
                            </div>

                            <div>
                                <button mat-raised-button type="submit" class="btn btn-danger pull-center" [disabled]="!loginForm.valid" >Login</button>
                            </div>

                            <mat-error *ngIf="!isValid">
                                Invalid User.
                            </mat-error>
                        </form>
                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
